<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

       <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
       <logger name="org.springframework.web" level="INFO" />

       <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
              <encoder>
                     <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
              </encoder>
              <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                     <level>TRACE</level>
              </filter>
       </appender>

       <!-- 日志输出级别 -->
       <root level="INFO">
              <appender-ref ref="consoleAppender" />
       </root>
</configuration>